* {
    font-family: monospace;
}
a {
    color: unset;
    text-decoration: none;
}
body {
    background-color: hsl(0, 0%, 96%);
    margin: 1rem 1.5rem 1rem 1.2rem;
}

/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background: hsl(0, 0%, 96%);
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 70%, 0.3);
}

.title > .text {
    font-size: 120%;
    font-weight: bold;
}
.toplevel, .title {
    overflow: auto;
    margin-bottom: 1.2rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid hsl(0, 0%, 88%);
    background-color: hsl(0, 0%, 99%);
    box-shadow: 0.3rem 0.3rem 0.6rem hsl(0, 0%, 80%);
}
.api > .type > .definition, .api > .function > .group {
    margin-left: 4rem;
}
.api > .function > .header {
    margin-bottom: 0.4rem;
}
.overload > .header > .type {
    display: inline-block;
}
.description {
    margin: 0.4rem 0;
    color: #686868;
    font-size: 90%;
}
.description > .line > pre {
    margin: 0;
}
.block-record {
    margin: 0.4rem 0;
}

.keyword {
    color: #ef1d6a;
}
.modifier {
    color: #e953a9;
}
.api > .type > .header > .name, .type-named > .name {
    color: #ea6137;
}
.api > .function > .header > .name, .alias-item > .name {
    color: #4078f2;
}
.type-param > .name, .type-parameter {
    color: #6656e4;
}
.type-param > .variance {
    color: #7d728d;
}
.field > .name, .block-field > .name {
    color: #e45649;
}

.api > .type > .header > .keyword,
.api > .function > .header > .keyword {
    margin-right: 0.6rem;
}
.alias {
    margin-right: 0.6rem;
}
.const-badge {
    margin-right: 0.6rem;
}
.type-param > .default {
    margin-right: 0.6rem;
}
.type-param + .keyword, .element + .keyword, .alias-item + .keyword {
    margin-right: 0.6rem;
}
.implicit {
    margin-right: 0.8rem;
}
.bound-super > .keyword, .bound-sub > .keyword {
    margin: 0.6rem;
}
.field {
    margin: 0 0.6rem;
}
.field > .name + .keyword {
    margin: 0 0.6rem;
}
.block-field > .name + .keyword {
    margin-right: 0.6rem;
}
.func > .keyword {
    margin: 0 0.6rem;
}
.func-type-params {
    margin-right: 0.6rem;
}

.func-type-params.omit > .type-params {
    display: none;
}
.func-type-params.omit:hover > .type-params {
    display: unset;
}

