body {
    font-size: 16px;
}
* {
    font-family: monospace;
}
a {
    color: unset;
    text-decoration: none;
}
.description {
    margin: 0.25rem 0 0.5rem 0;
    font-family: sans-serif;
    font-size: 80%;
    color: #555555;
}

.api {
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #CACACA;
    border-radius: 0.25rem;
    background-color: #F3F3F3;
}

.keyword {
    color: #A626A4;
}

.modifier {
    color: #CF4895;
}

.boxed > .kind > .keyword {
    margin: 0 0;
}

.type > .header > .keyword {
    margin-right: 0.25rem;
}

.type > .header > .name, .type-named > .name {
    color: #C18401;
}

.type > .definition {
    margin-left: 2rem;
}

.field > .name {
    color: #E45649;
}

.type-param > .name, .type-parameter {
    color: #6656E4;
}

.type-param > .variance {
    color: #7d728d;
}

.type-param > .default {
    margin-right: 0.25rem;
}

.type-param + .keyword {
    margin-right: 0.25rem;
}

.bound-super > .keyword, .bound-sub > .keyword {
    margin: 0.25rem;
}

.field {
    margin: 0 0.25rem;
}

.field > .name + .keyword {
    margin: 0 0.1rem;
}

.func > .keyword {
    margin: 0 0.25rem;
}
