body {
  padding: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
}

.red {
  color: red;
}

.seal {
  color: red;
  border: 1px solid red;
  display: inline-block;
  padding: 0.1rem;
}

.title {
  font-weight: bold;
  font-size: 110%;
}
