body {
  padding: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.red {
  color: red;
}

.seal {
  color: red;
  border: 1px solid red;
  display: inline-block;
  padding: 0.1rem;
}

.title {
  font-weight: bold;
  font-size: 110%;
}

.min-width-3 {
  min-width: 3rem;
}
